body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.is-full-height {
  min-height: 100vh;
}

.is-flex {
  display: flex;
}

.is-flex-column {
  flex-direction: column;
}

.is-flex-1 {
  flex: 1;
}

.is-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-body {
  background-image: linear-gradient(180deg, #dfd8d8 0%, whitesmoke 70%, white 100%);
  flex: 1;
  padding: 1em 0;
}

header, footer {
  background-image: linear-gradient(0deg, #dfd8d8 75%, whitesmoke 100%, white 100%);
  flex: 0;
}

footer {
  padding: 1em 0;
}
