body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.is-full-height {
  min-height: 100vh;
}

.is-flex {
  display: flex;
}

.is-flex-column {
  flex-direction: column;
}

.is-flex-1 {
  flex: 1;
}

.is-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-body {
  background-image: linear-gradient(180deg, #F25757, #F58484);
  flex: 1;
  padding: 1em 0;
}

header.nav, footer {
  background-color: #F25757;
  flex: 0;
}

footer {
  padding: 1em 0;
}

body, a, a.nav-item, .tabs li.is-active a, .title, .help.is-danger {
  color: #F2E863;
}

.tabs.is-boxed li.is-active a {
  background-color: #DC5050;
}
